<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <chart id="positive"  [options]="positive"> </chart> 
            </div>
            <div class="card-body">
              <h4 class="card-title">Positive score</h4>
              <p class="card-category">
                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Last Campaign Performance</p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> updated 4 minutes ago
              </div>
            </div>
          </div>
        </div>
     </div>
   </div>
</div>
