<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">sentiment_very_satisfied</i>
            </div>
            <p class="card-category">Análise Positiva</p>
            <h3 class="card-title">{{percentPositive}}%</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">calendar_today</i>
            </div>
            <p class="card-category">Histórico</p>
            <h3 class="card-title">7
              <small>dias</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons text-danger">warning</i>
              <a href="#pablo">Get More Space...</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="card-category">Número de tweets</p>
            <h3 class="card-title">{{totalofTweets}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons">update</i> Just Updated -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">sentiment_very_dissatisfied</i>
            </div>
            <p class="card-category">Análise Negativa</p>
            <h3 class="card-title">{{percentNegative}}%</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="" [routerLink]="[ '/positive']" onclick="md.initDashboardPageCharts()">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <!-- <div  class="ct-chart" id="dailySalesChart"></div> -->
              <chart id="positive"  [options]="positive"> </chart> 
            </div>
            <div class="card-body">
              <h4 class="card-title">Pontuação positiva</h4>
              <p class="card-category">
                <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{percentPositive}}% </span> Resultados da ultima pesquisa</p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> updated 4 minutes ago
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="" [routerLink]="[ '/negative']" >
          <div class="card card-chart">
            <div class="card-header card-header-danger">
              <!-- <div class="ct-chart" id="completedTasksChart"></div> -->
              <chart id="negative"  [options]="negative"> </chart> 
            </div>
            <div class="card-body">
              <h4 class="card-title">Pontuação Negativa</h4>
              <p class="card-category">
                  <span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{percentNegative}}% </span> Resultados da ultima pesquisa</p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> campaign sent 2 days ago
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
              <chart id="neutral"  [options]="neutral"> </chart> 
          </div>
          <div class="card-body">
            <h4 class="card-title">Pontuação neutra</h4>
            <p class="card-category">
                <span class="text-warning"><i class="fa fa-long-arrow-up"></i> {{percentNeutral}}% </span> Resultados da ultima pesquisa</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      