<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Tweet Table</h4>
              <p class="card-category">List of all searched tweets</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Text
                    </th>
                    <th>
                      Created it
                    </th>
                  </thead>
                  <ul>
                    <!-- <li *ngFor="let tweet of tweetsUrl">
                      
                    </li> -->

                    {{tweets}} 

                  </ul>
                  <!-- <tbody >
                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        Dakota Rice
                      </td>
                      <td>
                        lorem ipsun use kesa 
                      </td>
                      <td class="text-primary">
                        $36,738
                      </td>
                    </tr>
                  </tbody> -->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        